html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
#app{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
}
.title{
	background-color: lightblue;
	width: 150px;
	height: 100%;
	font-size: 23px;
	font-family: rockwell;
	color: white;
	text-indent: 0.5em;
	text-shadow: 1px 1px 5px #000;
	border-right: 1px solid rgba(0,0,0,0.2);
	float: left;
}
.titleLogo{
	font-family: "微软雅黑" important;
}
.cityBox{
	display: table;
	height: calc(100% - 54px);
	margin-top: -1px;
}
.cityList{
	display: flex;
	flex-flow: column;
	display: table-cell;
	vertical-align: middle;
}
.cityItem{
	width: 149px;
	font-size: 12px;
	text-align: center;
	box-shadow: 1px 1px 3px #003845;
	color: #003845;
	margin: 2px 0;
	font-family: "微软雅黑";
	text-shadow: none;
	cursor: pointer;
}
.cityItem:hover{
	background-color: #63b9E4;
	color: white;
	margin-left: 5px;
}



.weather{
	width: calc(100% - 151px);
	height: 100%;
	float: right;
	display: table;
	font-family: "微软雅黑";
}
.weather div{
	width: 800px;
	height: 20px;
	padding: 10px;
}
#weatherBox{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 10;
}
.weather img{
	display: block;
	width: calc(100% - 151px);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
